.form-signUp{
    height: 100%;
    width: 100%;
    padding: 5rem 3px;
}
.bgimg {
    background: linear-gradient(rgba(1, 96, 178, 0.7), rgba(1, 96, 178, 0.7)),
      /* bottom, image */ #068efe url(../../assets/images/1070305_Russel_04_0136.jpg);
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }