.bg-img {
    background: linear-gradient(rgba(192, 208, 228, 0.925), rgba(255, 255, 255, 0)),
        /* bottom, image */ url(../../assets/images/image1.jpg);
    background-size: cover;
    width: auto;
    height: 625px;
    background-attachment: fixed;
}

.count {
    width: 20%;
    padding: 0;
    margin: 0;
}
.count input {
    text-align: center;
    border: 1px solid #aaa;
    padding-top: 4px;
    padding-bottom: 2px;
}  
:placeholder-shown {
    text-align: center;
}
::placeholder {
    text-align: center;
}
.btn-count {
    width: 15%;
    background-color: #fff;
    border: 1px solid #aaa;
    color: #aaa;
    padding-top: 4px;
    padding-bottom: 4px;
}
