  
<div style="height: 50px;"></div>
<div class="container-fluid">
    <div class="row float-right ">
        <div class="col-12 float-right my-1">
            <a class='float-right' mat-stroked-button color=primary style='padding:0px 30px ;border:none' (click)="[getAllDiagnosis(),getAllTreatmentPlan(),getDoctor()]">
                <i class="fas fa-sync"></i>
            </a>



        </div>
    </div>
    <div class="clearfix"></div>
    <mat-tab-group animationDuration="1000ms" mat-align-tabs="center">
        <mat-tab label="My Profile">
            <div class="example-large-box mat-elevation-z4">
                <div class="container py-5" id="profile">
                    <div class="row">
                        <div class="col-md-4 doc-img m-auto text-center">
                            <div class="img ">
                                <img class="img-fluid" style="height: 20rem; width: 15rem;" src={{DData.profileIMG}}>
                                <div class="layer">
                                    <app-upload-img></app-upload-img>
                                </div>
                            </div>
                            <div class="rating">
                                <h3 style="padding-top: .5rem;">Dr / {{DData.username |titlecase}}</h3>
                                <ngb-rating [max]='5' [(rate)]='DData.rate' [readonly]="true"></ngb-rating>
                            </div>
                        </div>
                        <div class="col-md-8 doc-about">
                            <div class="container descrip">
                                <div class="row py-2">
                                    <h2> Summery </h2>
                                    <div class="col-md-12 py-3 parag">
                                        <p>{{DData.briefSummery}}</p>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-lg-4">
                                        <h2>Location</h2>
                                        <div class="col-md-12 py-2 parag">
                                            <p>{{DData?.location.location |titlecase}} - {{DData?.location.area |titlecase}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h2> Phone </h2>
                                        <div class="col-md-12 py-3 parag">
                                            <p>{{DData.phone |number}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h2> Title </h2>
                                        <div class="col-md-12 py-3 parag">
                                            <p>{{DData.title |titlecase}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="row py-2">
                                    <div class="col-lg-4">
                                        <h2>Email</h2>
                                        <div class="col-md-12 py-2 parag">
                                            <p>{{DData?.email}}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <h2>Location</h2>
                                        <div class="col-md-12 py-2 parag">
                                            <p>{{DData?.password |slice :0:10}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class=" btn btn-success float-right m-4">Edit</button>
                        </div>
                    </div>
                    <!--Start Of FeedBacks -->
                    <div class="row">
                        <div class="container col-lg-12">
                            <div class="row" *ngFor="let item of DData.feedbacks" style="padding: .5rem; ">
                                <div class="col-lg-9 py-3 " style="background-color: #fff; height: 10rem;border: 1px solid #289cff;  border-right: 0px;border-bottom-left-radius:.5rem ;border-top-left-radius:.5rem ;">
                                    <ngb-rating [max]='5' [(rate)]='item.rate' [readonly]="true" style="font-size: 2rem; color: gold;"></ngb-rating>
                                    <h2 style="font-size: 1rem;font-weight: bold; color: #289bff80;">OverAll Rating</h2>
                                    <p style="font-size: 1rem; font-weight: 100; font-style: oblique;">
                                        "{{item.comment}}"</p>
                                    <p style="font-weight: bold; font-size: .8rem; color: rgba(0, 0, 0, 0.486);">
                                        {{item.PName |titlecase}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.data|date}}</p>
                                </div>
                                <div class="col-lg-3 m-auto" style=" height: 10rem;border: 1px solid #289cff; border-left: 0px;border-bottom-right-radius:.5rem ;border-top-right-radius:.5rem ;">
                                    <p class="mt-5" style="padding: 1rem; border: 3px solid #289cff; border-radius: 10px; background-color: #fff; color: #289cff; font-size: 1.5rem; margin: auto; text-align: center;width: 3rem;font-weight: bold;">
                                        {{item.rate}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of FeedBack -->
                </div>
            </div>


        </mat-tab>
        <mat-tab class="mx-4" label="Diagnosis Forms">
            <ng-container *ngIf="Patients; else elseTemplate">
                <table class="table table-striped py-4 text-center">
                    <thead>
                        <tr>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Date</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of Patients; let i = index">
                            <td>
                                {{ p?.username |titlecase}}
                            </td>
                            <td>{{ p?.gender |titlecase}}</td>
                            <td>{{ p?.CreatedDate|date }}</td>
                            <td>
                                <button mat-raised-button color=accent (click)="[openLg(content),getDiagnosis(p._id),geTreatment(p._id)]">
                                    Show
                                </button>

                                <ng-template #content let-modal>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-5 col-md-12">
                                                    <div class="container py-1">
                                                        <div class="row">
                                                            <h2 style="color: #09c;"> Diagnosis Form</h2>
                                                        </div>
                                                    </div>
                                                    <mat-list>
                                                        <mat-list-item>
                                                            <div class="container py-2">
                                                                <div class="row py-2">
                                                                    <h2> Sending Date</h2>
                                                                </div>
                                                            </div>
                                                            {{Patient_DF?.CreatedDate |date}}
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>

                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Main Problem</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="co-12 mx-2 py-2">
                                                                        {{Patient_DF?.MainProblem.text_problem}}
                                                                    </div>
                                                                    <div class="col-12 py-2" *ngFor="let i of Patient_DF?.MainProblem.problemsArr">
                                                                        {{i}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>
                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Medical History</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class='col-12  py-2'>
                                                                        {{Patient_DF?.medicalHistory.text_medical}}
                                                                    </div>
                                                                    <div class="col-12 py-2" *ngFor="let i of Patient_DF?.medicalHistory.medicalArr">
                                                                        {{i}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>
                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Related Questions</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 py-2" *ngFor="let i of Patient_DF?.doctorQuesAns">
                                                                        {{i}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>
                                                            <ng-template>Available Duration</ng-template>
                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Available Duration</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 py-2">
                                                                        Form: {{Patient_DF?.avilableDuration.fromDate.day|number}}/{{this.Patient_DF.avilableDuration.fromDate.month|number }}/{{this.Patient_DF.avilableDuration.fromDate.year }}
                                                                    </div>
                                                                    <div class="col-12 py-2">
                                                                        To: {{Patient_DF?.avilableDuration.toDate.day|number }}/{{this.Patient_DF.avilableDuration.toDate.month |number}}/{{this.Patient_DF.avilableDuration.toDate.year }}

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>

                                                    </mat-list>

                                                </div>
                                                <div class="col-lg-7 col-md-12 mx-auto">
                                                    <div class="container py-1">
                                                        <div class="row">
                                                            <h2 style="color: #09c;"> Treatment Plan</h2>
                                                        </div>
                                                        <div class="row">
                                                            <ng-container *ngIf="!checkTreatment(p._id); else elseTemplate">
                                                                <div class="col-12">
                                                                    <div class="example-boundary">
                                                                        <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                                                                            <div class="container py-2">
                                                                                <div class="row">
                                                                                    <div class="col-12 py-2">
                                                                                        <mat-form-field class="example-full-width">
                                                                                            <mat-label>Full Description
                                                                                            </mat-label>
                                                                                            <textarea matInput [(ngModel)]="description" placeholder="treatment plan description"></textarea>
                                                                                        </mat-form-field>

                                                                                    </div>

                                                                                    <div class="col-12 py-2">
                                                                                        <mat-form-field class="example-full-width">
                                                                                            <mat-label>Initial Cost
                                                                                            </mat-label>
                                                                                            <input matInput placeholder="cost.." [(ngModel)]="cost">
                                                                                        </mat-form-field>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-12 py-2">
                                                                                        <h2>Appointment Date</h2>
                                                                                    </div>
                                                                                    <div class="col-12 overflow-hidden mx-0">
                                                                                        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                                                                                        </ngb-datepicker>

                                                                                        <ng-template #t let-date let-focused="focused">
                                                                                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                                                                                {{ date.day }}
                                                                                            </span>
                                                                                        </ng-template>

                                                                                    </div>
                                                                                </div>
                                                                                <div class="row py-2">
                                                                                    <ng-container *ngIf="!checkTreatment(p._id); else elseTemplate">
                                                                                        <div class="col-12 py-2">
                                                                                            <button mat-raised-button (click)="sendTreatmentPlan(p._id)" color="accent" class='px-5'>Create</button>

                                                                                        </div>
                                                                                    </ng-container>
                                                                                    <ng-template #elseTemplate>
                                                                                        <div class="col-12 py-2">
                                                                                            <button mat-raised-button disabled color="accent" class='px-5'>Done</button>
                                                                                        </div>
                                                                                    </ng-template>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-template #elseTemplate>
                                                                <div class="col-12">
                                                                    <div class="container mx-auto">
                                                                        <h2>Treatment Plan Created Before</h2>
                                                                    </div>
                                                                </div>
                                                            </ng-template>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="mx-auto my-5" style="width: 30rem;text-align: center;">
                    <h3 style="font-size: 1.5rem; font-weight: bold;color: #09c;">No Diagnosis Form Recrived Yet!</h3>
                    <img width="300px" height="300px" src="../../assets/images/29f6efab-7025-4a82-aa35-331dbfafac28.jpg">
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab class="mx-4" label="Treatment Plans">
            <ng-container *ngIf="Patients; else elseTemplate2">
                <div class="example-large-box mat-elevation-z4">
                    <mat-list *ngFor="let tp of treatmentPlan;let i of index">
                        <mat-list-item>
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{tp.patientID.username |titlecase}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="container-fluid">
                                        <!-- <div class="row">
                                            <div class="col-12 py-3">
                                                description : {{tp.description}}
                                            </div>
                                            <div class="col-12 py-3">
                                                Cost : {{tp.cost|currency}}
                                            </div>
                                            <div class="col-12 py-3">
                                                Start-date : {{tp.treatmentDate.toDate.day}} / {{tp.treatmentDate.toDate.month}} / {{tp.treatmentDate.toDate.year}}</div>
                                            <div class="col-12 py-3">
                                                End-date : {{tp.treatmentDate.fromDate.day}} / {{tp.treatmentDate.fromDate.month}} / {{tp.treatmentDate.fromDate.year}}</div>
                                        </div> -->
                                        <table class="table table-bordered table-striped text-center w-100">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Cost</th>
                                                    <th scope="col"> Start Date</th>
                                                    <th scope="col">End Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        {{ tp?.description |lowercase}}
                                                    </td>
                                                    <td>{{ tp?.cost |currency}}</td>
                                                    <td>{{tp.treatmentDate.toDate.day}} / {{tp.treatmentDate.toDate.month}} / {{tp.treatmentDate.toDate.year}}</td>
                                                    <td>{{tp.treatmentDate.fromDate.day}} / {{tp.treatmentDate.fromDate.month}} / {{tp.treatmentDate.fromDate.year}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- dfmvdlkgbmgdkbgbfgjbfgjbgjbgfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->
                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>

                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </div>
            </ng-container>
            <ng-template #elseTemplate2>
                <div class="mx-auto my-5" style="width: 30rem;text-align: center;">
                    <h3 style="font-size: 1.5rem; font-weight: bold;color: #09c;">No Treatment Plans Created Yet!</h3>
                    <img width="300px" height="300px" src="../../assets/images/1bb8d3ea-e39c-49b7-90ee-ba900c5634f8.jpg">
                </div>
            </ng-template>

        </mat-tab>
    </mat-tab-group>
</div>